<div class="ui two column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            <div class="two fields">
                {{ form_row(form.command) }}
            </div>
            {{ form_row(form.args) }}
        </div>
    </div>
    <div class="column">
        <div class="ui two column stackable grid">
            <div class="column">
                {{ form_row(form.queue) }}
                {{ form_row(form.priority) }}
            </div>
            <div class="column">
                {{ form_row(form.cronExpression) }}
            </div>
        </div>
    </div>
</div>
