<div class="ui two column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui two column grid segment">
            <div class="column">
                {{ form_row(form.code) }}
                {{ form_row(form.name) }}
            </div>
            <div class="column">
                {{ form_row(form.command) }}
                {{ form_row(form.args) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui two column stackable grid">
            <div class="column">
                {{ form_row(form.cronExpression) }}
                {{ form_row(form.queue) }}
                {{ form_row(form.priority) }}
            </div>
        </div>
    </div>
</div>
